
.main-documentos{
    overflow: scroll;
    padding: 15px;
    max-width: calc(100% - 30px);
    margin: 0 auto;
  

}
.documentos{
    margin-top: 25px;
    background-color: white;
    padding: 10px;
    background-color: white;
    -webkit-box-shadow: inset 0px 0px 5px 0px #000000; 
    box-shadow: inset 0px 0px 5px 0px #000000;
    height: auto;
    padding: 10px;
    border-radius: 5px;
}
.text-documentos h2{
    color:orange;
}
.collapsible {
    background-color: #777;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;

  }
  .collapsible.usuario {
      width: calc(100% - 36px);
  }
  
  .collapsible:hover{
      background-color: orange;
  }
  .espacio-caja{
      margin-bottom: 10px;
  }
  
  .content {
    align-items: center;
    padding: 10px 18px;
    background-color: #f1f1f1;
    margin-bottom: 8px;
    border-bottom: 5px solid #FF9800;
    border-radius: 0px 0px 10px 10px;
  }
  .content i{
      color: rgb(56, 56, 56);
  }
  .stilo-contenedor{
      margin-bottom: 10px;
      
  }

.botons{
   margin-right: 50px;
   
}